@model IEnumerable<CS4790A4.Models.Proposal>
@*@model CS4790A4.Models.Proposal*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProposalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdExpRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InnovationRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DissemRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvalRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProposalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdExpRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InnovationRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DissemRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvalRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
